# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache

logs
*.iml
target
.idea
.idea_modules
.vscode
RUNNING_PID
generated.keystore
generated.truststore
*.log

# Scala-IDE specific
.scala_dependencies
.classpath
.project
.settings/
.cache-main
.cache-tests

logs
project/project
project/target
target
tmp
dist
.cache

.g8/
