@()

@main("Synapsis") {

<div class="container-fluid">
   <div class="row mt-1">
      <div class="col">
         <div class="card">
            <div class="card-body">
               <h3 class="card-title">Tempo di ricezione messaggi</h3>
               <canvas id="myChart" aria-label="My Chart"></canvas>
               <!--<p class="card-text">Text</p>-->
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card">
            <div class="card-body">
               <h3 class="card-title">Tempo di computazione</h3>
               <canvas id="mixedChart" aria-label="Mixed Chart"></canvas>
               <!--<p class="card-text">Text</p>-->
            </div>
         </div>
      </div>
   </div>

   <div class="row mt-1">
      <div class="col">
         <div class="card">
            <div class="card-body">
               <h4 class="card-title">Riepilogo entità</h4>
               <ul class="list-group list-group-flush">
                  <li class="list-group-item">item 1</li>
                  <li class="list-group-item">item 2</li>
                  <li class="list-group-item">item 3</li>
                  <li class="list-group-item">item 4</li>
                  <li class="list-group-item">item 5</li>
               </ul>
               <!--<p class="card-text">Text</p>-->
            </div>
         </div>
      </div>
      <div class="col">
         <div class="card">
            <div class="card-body">
               <h4 class="card-title">Andamento tempo medio di computazione</h4>
               <p class="card-text">Inserire un grafico a linea che mostra ad intervalli regolari il tempo di computazione dei messaggi</p>
            </div>
         </div>
      </div>
   </div>
   <div class="row mt-4">
      <div class="col">
            <div class="card">
                  <div class="card-body">
                     <h4 class="card-title">Synapsis logs</h4>
                     <p class="card-text">Inserire area di testo dove inserire tutti i log del sistema</p>
                  </div>
               </div>
      </div>
   </div>
</div>
}
